body {
  /* background-color:  #D9F0FF; */
  background: url(../image/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'League Spartan', sans-serif;
}

.site-heading {
  text-align: center;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content{
  flex: 1;
  text-align: center;
}

.footer {
  text-align: center;
}

.glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(100%) brightness(100%) saturate(150%);
}

.navbar-nav a:hover {
   background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.list-group-item {
  background-color: transparent;
}

.project-images {
  height: 177px;
}

.logo-body {
  width: 300px;
}

.contact-image {
  width: 30px;
  height: 30px;
}

.copy-line {
  margin:0;
}